.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color:$white;
  padding:10px;
  .content-block {
    text-decoration:none;
    background-color:$base-color;
  }
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-width:100vw;
  min-height:100vh;
}