/* Typography =================================================================================================

Set font weights and styles. Not family.
*/
@include font-face("Bebas Neue", fonts/BebasNeue-webfont, null, null)
h1, h2, h3, h4, h5, h6 {
	font-family:$heading-font-family;
  font-weight: $heading-font-weight;
  margin: 0 0 $vertical-measure 0;
}
